<div id="footer_home">

	<div id="contact">
		<h1 class="title_white">Contact</h1>

		<ul id="contact_icons">
		    <li>
		      <a href="https://www.facebook.com/NearByke/?fref=ts" target="_blank">
		        <img src="{{ site.baseurl }}/assets/images/icon_fb.svg" alt="facebook icon"/>
		      </a>
		    </li>
		    <li>
		      <a href="https://twitter.com/NearByke" target="_blank">
		        <img src="{{ site.baseurl }}/assets/images/icon_twitter.svg" alt="facebook icon"/>
		      </a>
		    </li>
		    <li>
		      <a href="https://www.linkedin.com/company/nearbyke" target="_blank">
		        <img src="{{ site.baseurl }}/assets/images/icon_linkedin.svg" alt="facebook icon"/>
		      </a>
		    </li>
		    <li>
		      <a href="mailto:info@nearbyke.com" target="_blank">
		        <img src="{{ site.baseurl }}/assets/images/icon_mail.svg" alt="mail icon"/>
		      </a>
		    </li>
	  	</ul>
  	</div>

</footer>