#base_info {
	min-height: 100vh;
	position: relative;
	background: transparent;
}

#intro {	
	position: absolute;
	top: 7%;
	left: 8%;
	transform: translate(-7%, -8%);
	display: inline-block;
}

#logo {
    float: left;
    margin-right: 2em;
}

#name {
	display: inline-block;
	text-align:center;
	color: $Primary;
	font-size: 7em;
	font-weight: bold;
}

#name .byke {
    text-shadow: 5px 0 50px rgba(255, 255, 255, 0.3);
}

#slogan {
	text-align: center;
	color: White;
	font-size: 3em;
	margin-top: 0.7em;
	background: $PrimaryDark;
	padding: 0.2em 0;
}

h2 {
	margin-top: 2em;
}

#posts {
	margin: 2em auto;
	background: white;
}

#news {
	text-align: center;
	font-weight: bold;
}

#parallax-intermezzo {
	min-height: 33vh;
	background: transparent;
}

@media (max-width: 1200px) {
    #name {
    	font-size: 5em;
    }

    #slogan {
    	font-size: 2em;
    }

    #logo {
		display: none;
    }

	#intro {	
		top: 7%;
		left: 50%;
		transform: translate(-50%, -7%);
	}
}